---
#Add "layout: compress" here to compress the html code
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
{% include head.html %}

<body>
  {% if site.data.data.sidebar.pdf %}
  <a href="{{ site.data.data.sidebar.pdf }}" class="pdf-button d-print-none" id="pdfButton" target="_blank" rel="noopener">
    <i class="fas fa-file-pdf"></i>PDF
  </a>
  {% endif %}

  <div class="wrapper">
    {% include sidebar.html %}

    <div class="main-wrapper">
      {{ content }}
    </div>
  </div>

  {% include footer.html %}

  {% include scripts.html %}
  <script src="{{ site.baseurl }}/assets/js/pdf-actions.js"></script>
</body>

</html>
